
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Fascinate&family=Pacifico&display=swap');
@import "tailwindcss";

@layer base {
  body {
   font-family: 'Changa One', cursive;
    margin: 0;
    min-height: 100vh;
  }
}
