@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

@tailwind utilities;

@layer base {
  body {
    font-family: 'Fascinate', cursive;
    margin: 0;
    min-height: 100vh;
  }
}
